display: flex;
& when not (@fullScreen) {
  padding-top: (@paddingTop * 1rem);
  padding-bottom: (@paddingBottom * 1rem);
}
& when (@bg-type = "color") {
  background-color: @bg-value;
}
& when (@bg-type = "image") {
  background-image: url(@bg-value);
  .mbr-overlay {
    background-color: @overlayColor;
    opacity: @overlayOpacity;
  }
}
@media (min-width: 768px) {
  align-items: ~"@{verticalAlign}";
  .row {
    justify-content: ~"@{horizontalAlign}";
  }
  .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  -webkit-align-items: center;
  align-items: ~"@{verticalAlign}";
  .mbr-row {